<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>hello_servlet</servlet-name>
        <servlet-class>com.wade.Hello</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>hello_servlet</servlet-name>
    <url-pattern>/sp</url-pattern>
    </servlet-mapping>
</web-app>
